
body {margin: 0px; padding:0px; font:normal 12px Microsoft YaHei, Simsun, Arial;}
input{ margin:0px; padding:0px;}

.clear{ clear:both;}

#main{ width:1000px; background:url(img/bg.jpg) no-repeat top; background-color:#fff9e3; margin:0 auto;}

#main .top{ height:254px; position:relative;}

#main .top a{ width:93px; height:90px; position:absolute; left:44px; top:35px;}

#main .hd{ height:150px; position:relative; width:920px; margin:0 auto; background:url(img/hui_top.jpg) no-repeat;}

#main .hd1{ padding-top:22px; padding-left:48px;}

#main .tt1{ position:absolute; left:-3px; top:90px; width:158px; height:49px; background:url(img/tt1.png) no-repeat}
#main .tt2{ position:absolute; left:-3px; top:90px; width:158px; height:49px; background:url(img/tt2.png) no-repeat}
#main .tt3{ position:absolute; left:-3px; top:90px; width:195px; height:49px; background:url(img/tt3.png) no-repeat}
#main .tt4{ position:absolute; left:-3px; top:85px; width:230px; height:49px; background:url(img/tt4.png) no-repeat}
#main .tt5{ position:absolute; left:-3px; top:85px; width:230px; height:49px; background:url(img/tt5.png) no-repeat}
#main .tt6{ position:absolute; left:-3px; top:85px; width:230px; height:49px; background:url(img/tt6.png) no-repeat}

#main .center_1{width:920px; margin:0 auto;}

#main .center_2{background:url(img/hui_center2.jpg) repeat-y top;}

#main .center_3{background:url(img/hui_center1.jpg) no-repeat top center;}

#main .center_4{background:url(img/hui_bot.jpg) no-repeat;}

#main .center_5{ padding-left:50px;}

.word1{ font-size:14px; color:#404040;}
.word2{ font-size:11px; color:#bd262d;}
.word3{ font-size:11px; color:#757575;}
.word4{ font-size:14px; color:#666;}
.word5{ font-size:22px; color:#404040;}
.word6{ font-size:12px; color:#fff;}

.iput1{ width:320px; background-color: #FFFFFF; border: 1px solid #d9cbe2; color:#444; padding:3px 5px;}
.iput2{ width:100px; background-color: #FFFFFF; border: 1px solid #d9cbe2; color:#444; padding:3px 5px;}
.iput3{ width:60px; background-color: #FFFFFF; border: 1px solid #d9cbe2; color:#444; padding:3px 5px;}
.iput4{ width:140px; background-color: #FFFFFF; border: 1px solid #d9cbe2; color:#444; padding:3px 5px;}
.iput5{ width:40px; background-color: #FFFFFF; border: 1px solid #d9cbe2; color:#444; padding:3px 5px;}
.iput6{ background-color: #FFFFFF; border: 1px solid #d9cbe2; color:#444; padding:3px 5px;}
.textarea1{border: 1px solid #bf85ec; color:#652e8b; background:#FFFFFF; width:470px; height:110px; overflow-x:hidden}

.a1{ background:url(img/next.png) no-repeat; width:146px; height:54px; text-indent:-9999px; display:block; overflow:hidden;}
.a2{ background:url(img/submit.png) no-repeat; width:146px; height:54px; text-indent:-9999px; display:block; overflow:hidden;}
.a3{ background:url(img/close.png) no-repeat; width:130px; height:40px; text-indent:-9999px; display:block; overflow:hidden;}


.pa{ padding-top:15px; padding-bottom:10px;}
.pa1{ padding-top:15px; padding-bottom:20px;}
.pa2{ padding-top:15px; padding-bottom:5px;}

.line1{ background:url(img/line1.gif) repeat-x; border-right-width: 1px; border-right-style: solid; border-right-color: #e1e1e1;color:#fff;}
.line2{ background:url(img/line1.gif) repeat-x;color:#fff;}
.line3{ background:url(img/line2.gif) repeat-x; border-right-width: 1px; border-right-style: solid; border-right-color: #e1e1e1;}
.line4{ background:url(img/line2.gif) repeat-x;}

.line5{ background:url(img/line1.gif) repeat-x; border-right-width: 1px; border-right-style: solid; border-right-color: #c5c5c5;color:#fff;}
.line6{ background:url(img/line1.gif) repeat-x;color:#fff;}
.line7{ background:url(img/line4.gif) repeat-x; border-right-width: 1px; border-right-style: solid; border-right-color: #c5c5c5;}
.line8{ background:url(img/line5.gif) repeat-x; border-right-width: 1px; border-right-style: solid; border-right-color: #c1d5c9;}

.k1{border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #652c8a;
	padding-top:20px;
	color:#682c8c;
}
.k2{
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #652c8a;
	padding-top:20px;
	padding-bottom:20px;
	color:#666;
}

.queren{ width:723px; height:50px; background:url(img/qr_img.png) no-repeat; margin-top:20px;}

.tab_1{ width:455px; height:255px; background:url(img/tab.png) no-repeat; margin:0 auto;position:relative;}
.tab_1 .c1{height:40px; font-size:26px; color:#E75A24; text-shadow:-1px 1px 0 #fff; text-align:center; padding-top:100px;}
.tab_1 .pm{position:absolute;left:170px;bottom:-5px;}